/* ////////////////////////////////////////// */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

html {
  width: 100%;
}
body {
  width: 100%;
  background-image: url("../images/blurry-gradient-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
  background-size: cover;
}

#main_container {
  width: 100vw;
  box-sizing: border-box;

  height: 260dvh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(2px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
/* ///////////////////////////////////// */
/* ////////////////HERO///////////////// */

#hero {
  padding: 20vh 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: 100%; */
}

#hero_wave_bottom {
  position: absolute;
  bottom: -1vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

#main_image_container {
  aspect-ratio: 3/4;
  width: 350px;
  background-image: url(../images/hero.jpg);
  background-size: 220%;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 80% 90%;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.29);
  border-radius: 5px;
}
/* 
#hero_background {
  position: absolute;
  max-width: 100%;
  min-width: 100%;
  aspect-ratio: 3/4;

  z-index: -1;
} */

#hero_text {
  /* border: 2px solid green; */
  aspect-ratio: 16/9;
  width: 600px;
  padding: 1.5rem 3rem;
  position: relative;
  left: -5px;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.29);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}

#hero_text_paragraph {
  opacity: 0;
  animation: fadeDown 0.4s ease-out 0.8s both;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.3rem;
}

#hero_text_paragraph h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

#hero #socials {
  align-self: flex-end;
  display: flex;
  gap: 3px;
}

#socials button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  scale: 1;
  transition: scale 0.3s ease-in;
}

#socials button:hover {
  scale: 1.2;
  transition: scale 0.1s ease-out;
}

#github {
  animation: fadeDown 0.2s ease-out 1.3s both;
}

#linkedin {
  animation: fadeDown 0.2s ease-out 1.4s both;
}

#twitter {
  animation: fadeDown 0.2s ease-out 1.5s both;
}

/* ///////////////////////////////////// */
/* ////////////////PROJECTS///////////////// */

#projects {
  /* border: 2px solid black; */
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  z-index: 1;
  height: 100%;
}

#projects h1 {
  font-size: 2.3em;
  font-weight: 800;
  color: white;
}

.spacer {
  aspect-ratio: 900/450;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.layer {
  background-image: url("../images/layered-waves-haikei.svg");
}

#grid {
  padding: 0% 20vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  /* align-items: center; */
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  #grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project {
  aspect-ratio: 16/15;
  width: clamp(300px, 1fr, 15vw);
  /* height: clamp(250px, 250px, 250px); */
  display: grid;
  grid-template-rows: 6fr 4fr;
  background-color: rgb(238, 238, 238);
  -webkit-box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.1);
  color: rgb(29, 29, 29);
  border-radius: 5px;
}

.project_title_buttons {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.project_title_buttons p {
  font-weight: 600;
  font-size: 1.2rem;
}

.project_info p:nth-child(2) {
  font-weight: 400;
  font-size: 0.85rem;
  color: rgb(54, 54, 54);
}

.project_buttons {
  display: flex;
  gap: 4px;
}

.project_buttons button {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  scale: 1;
  transition: scale ease-in 0.3s;
}

.project_buttons button:hover {
  scale: 1.2;
  transition: scale ease-out 0.1s;
}

.project_buttons svg {
  width: 20px;
  height: 20px;
  fill: rgb(22, 22, 22);
}
.project_image_container {
  flex-shrink: 0;
  flex-grow: 0;
}

.project_image_container img {
  width: 100%;
  aspect-ratio: 21/11;
  height: 100%;
  object-fit: cover;
}

.project_info {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ///////////////////////////////////// */
/* ////////////////PROJECTS///////////////// */

#contact {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
  position: relative;
  box-sizing: border-box;
}

#contact_container {
  height: clamp(400px, 500px, 15vh);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#contact svg {
  width: 30px;
  height: 30px;
}

#contact_info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#contact_info {
  color: rgb(255, 255, 255);
}

#contact_wave {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

#contact_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#phone,
#email {
  display: flex;
  gap: 10px;
  color: white;
  align-items: center;
}

#phone,
#email svg {
  fill: white;
}

.spacerflip {
  aspect-ratio: 900/450;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.layerflip {
  background-image: url("../images/wave-haikei.svg");
}
